[run]
source = webapp
omit = webapp/test*
       webapp/scripts*
       webapp/process_request*
       webapp/security*
       webapp/automapper*
       webapp/__init__.py
       webapp/pshell.py
       webapp/requests.py
       webapp/routes.py
