<div class="footer">
<div class="">
	
	<div class="col-md-2">
	</div>
	
	
	<div class="col-md-8" style="background-color:#eeeeee;">
		<div class="col-md-4" style="padding-top: 2em;">
    			<div class="">
				<ul class="footer_list" >
  					<li><a style="color:black; "href="https://www.q-gaps.de/Teilprojekt5">about</a></li>
  					<li> | </li>
  					<li><a style="color:black;" href="mailto:akinyemi.fasemore@stud-mail.uni-wuerzburg.de">contact</a></li>
  					<li> | </li>
  					<li><a style="color:black; "href="">citations</a></li>
				</ul>
    			</div>
		</div>

		<div class="col-md-4" >
    			<div class="container" style="justify-content:end;">
	  			<img class="img-responsive" style="display:inline-block;" src="{{request.static_url('webapp:static/img/white_logo.png') }}" width="100px" alt="logo">

      				<a style="display:inline-block;" href="http://q-gaps.de" style="margin-left:20px;" class="navbar-btn btn-warning btn pull-right">
      Supported by Q-GAPS</br> </br> © Copyright 2019-2020</a>
	 		</div>
		</div>
		<div class="col-md-4" style="padding-top: 2em;">
    			<div class="">
				<ul class="footer_list" >
  					<li><a style="color:black; "href="https://coxbase.q-gaps.de/webapp/analysis/mlva">MLVA</a></li>
  					<li> | </li>
  					<li><a style="color:black;" href="https://coxbase.q-gaps.de/webapp/analysis/mst">MST</a></li>
  					<li> | </li>
  					<li><a style="color:black;" href="https://coxbase.q-gaps.de/webapp/analysis/adaA">adaA</a></li>
				</ul>
    			</div>
		</div>

	</div>
	<div class="col-md-2">
	</div>
</div>
</div>
