<!DOCTYPE html>
<html lang="{{request.locale_name}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Welcome to CoxBase, an online platform for epidemiological surveillance, visualization, analysis and typing of Coxiella burnetii genomic sequence. ">
    <meta name="Mandela" content="Search form">
    <link rel="shortcut icon" href="{{request.static_url('webapp:static/img/logo.png')}}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <title>CoxBase</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
  integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
  crossorigin=""/>

    <!-- coreUI CSS -->

    <!-- custom CSS -->
    <link href="{{request.static_url('webapp:static/css/main.css')}}" rel="stylesheet">
  </head>

  <body>
	  {% include 'nav.jinja2' %}
<!---Banner-->
<div class="container_jumbotron">
  <div class="jumbotron">
		  <p style="color:#34495e;font-family:Roboto;"> Welcome to CoxBase, an online platform for epidemiological surveillance, </br>visualization, analysis and typing of <i>Coxiella burnetii</i> genomic sequence.</p>
	  <div class="row">
		  <div class="col-md-6">
			  <div> <img class="img-responsive" src="{{request.static_url('webapp:static/img/logo_transparent.png') }}" width="300px" alt="logo"> </div>
		  </div>
		  <div class="col-md-6">
			  <ul style="margin-top:50px;">
				  <li><button  onclick="location.href='https://coxbase.q-gaps.de/webapp/query/isolates'" type="button" class="my_button_2">Discover isolates</button></li>
				  <li><button  onclick="location.href='https://coxbase.q-gaps.de/webapp/analysis/mlva'" type="button" class="my_button_2">Genotype strains</button></li>
				  <li><button onclick="location.href='https://coxbase.q-gaps.de/webapp/retrieve'" type="button" class="my_button_2">Retrieve analysis</button></li>

			  </ul>
		  </div>
	  </div>

  </div>
</div>
    <!--main-->


    {% include 'footer.jinja2' %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{{request.static_url('webapp:static/js/extras.js')}}" type="text/javascript"></script>
  </body>
</html>
