<!DOCTYPE html>
<html lang="{{request.locale_name}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="pyramid web application">
    <meta name="Mandela" content="Search form">
    <link rel="shortcut icon" href="{{request.static_url('webapp:static/pyramid-16x16.png')}}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <title>Coxbase</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
  integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
  crossorigin=""/>

    <!-- Custom styles for this scaffold -->
    <link href="{{request.static_url('webapp:static/css/main.css')}}" rel="stylesheet">
    <!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
  </head>

  <body>

	  {% include 'nav.jinja2' %}
    <!--main-->
    
      <div class="container">
	      <div class="card_mlva">
		      <form id="mst_form">
			      <fieldset>
			      </fieldset>
			      <fieldset class="mst_table">
				      <legend>Enter query below</legend>
				      <div id="table_div">
				      <table class="query_table">
					      <tr> 
						      <th class="query_table_header">COX2</th>
						      <th class="query_table_header">COX5</th>
						      <th class="query_table_header">COX18</th>
						      <th class="query_table_header">COX20</th>
						      <th class="query_table_header">COX22</th>
						      <th class="query_table_header">COX37</th>
						      <th class="query_table_header">COX51</th>
						      <th class="query_table_header">COX56</th>
						      <th class="query_table_header">COX57</th>
						      <th class="query_table_header">COX61</th>
					      </tr>
					      <tr>
						      <td><input class="tr_entry" name="ms01" type="number"></td>
						      <td><input class="tr_entry" name="ms03" type="number"></td>
						      <td><input class="tr_entry" name="ms20" type="number"></td>
						      <td><input class="tr_entry" name="ms21" type="number"></td>
						      <td><input class="tr_entry" name="ms22" type="number"></td>
						      <td><input class="tr_entry" name="ms23" type="number"></td>
						      <td><input class="tr_entry" name="ms24" type="number"></td>
						      <td><input class="tr_entry" name="ms26" type="number"></td>
						      <td><input class="tr_entry" name="ms27" type="number"></td>
						      <td><input class="tr_entry" name="ms28" type="number"></td>
					      </tr>
					      <tr>
         						<td colspan="15"><hr/></td>
    						</tr>
						<tr>
							<td>4</td>
							<td>6</td>
							<td>3</td>
							<td>5</td>
							<td>6</td>
							<td>2</td>
							<td>8</td>
							<td>2</td>
							<td>5</td>
							<td>6</td>
							<td><button id="sampleQuery">Sample Query</button></td>
						</tr>
					      <tr>
         						<td colspan="15"><hr/></td>
    						</tr>
				      </table>
				      </div>
			      </fieldset>
			<input type="submit">
			<button type="reset" id="clearField">Clear field</button>

		      </form>
	      </div>
      </div>
      <div id="empty_error">
      </div>
      <div class="container">
		      <div id="result" class="result_info">
		      </div>
      </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="{{request.static_url('webapp:static/js/mst_query.js')}}" type="text/javascript"></script>
    <script src="{{request.static_url('webapp:static/js/extras.js')}}" type="text/javascript"></script>
  </body>
</html>
