
    <script async src="https://cse.google.com/cse.js?cx=cec8953b4636d130c"></script>
  </head>

  <body>
	<nav class="navbar navbar-default">
           <a href="/webapp" style="margin-left:50px;margin-top:150px;"><img class="" style="position: absolute;bottom: 30px" src="{{request.static_url('webapp:static/img/image10.png') }}" width="120px" alt="pyramid web framework"></a>
  	<ul class="nav navbar-nav navbar-right" style="bottom: 20px">
    		<li class="">
		<a href="{{request.route_url('home')}}"><i class="fa fa-home" style="font-size:20px"></i></a>
    		</li>
    		<li class="">
		<a href="{{request.route_url('coxviewer')}}">Distribution map</a>
    		</li>
    		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Query <b class="caret"></b></a>
              <ul class="dropdown-menu">
		<li><a href="{{request.route_url('mlvaquery')}}">MLVA data</a></li>
                <li class="divider"></li>
                <li><a href="{{request.route_url('mstquery')}}">MST data</a></li>
                <li class="divider"></li>
		<li><a href="{{request.route_url('primerquery')}}">Primer sequence</a></li>
                </ul>
   		</li>
    		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Analysis <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{request.route_url('mlvaanalysis')}}">MLVA</a></li>
                <li class="divider"></li>
                <li><a href="{{request.route_url('mstanalysis')}}">MST</a></li>
                <li class="divider"></li>
                <li><a href="{{request.route_url('is1111analysis')}}">IS1111</a></li>
                <li class="divider"></li>
                <li><a href="{{request.route_url('adaanalysis')}}">AdaA</a></li>
                <li class="divider"></li>
                <li><a href="{{request.route_url('SNPHanalysis')}}">SNP</a></li>
                <li class="divider"></li>
                <li><a href="{{request.route_url('multi_marker')}}">multi marker</a></li>
                <li class="divider"></li>
                <li><a href="{{request.route_url('combined')}}">combined</a></li>
                </ul>
   		</li>
    		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Annotations <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{request.route_url('sequenceviewer')}}">Sequence viewer</a></li>
                </ul>
   		</li>
    		<li class="">
      		<a class="" href="{{request.route_url('usersubmission')}}">Submissions</a>
    		</li>
    		
		<li class="">
      		<a class="" href="{{request.route_url('help')}}">Help</a>
    		</li>
		
		<!--<li class="">
      		<a class="" href="{{request.route_url(route or 'login')}}">{{status or 'Log in'}}</a>
    		</li>-->
		<li><div style="width:266px";><div class="gcse-search"></div></div></li>	
	<!--	<form class="navbar-form navbar-left" action="#">
      		<div class="form-group">
        	<input type="text" class="form-control" placeholder="Search">
      		</div>
      		<button type="submit" class="btn btn-default">Submit</button>
    		</form>-->
	</ul>
	</nav>

