{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h1><span class="font-semi-bold">Coxbase:</span> <span class="smaller">Coxiella web platform</span></h1>
  <p class="lead"><b> Error 406</b></p>
  <p class="lead" style="color:red;"> The sequences you submitted are not acceptable are you sure they belong to the <i>Coxiella</i> genera ?</p>
</div>
{% endblock content %}
