@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  background: #fff;
}

html, body {
	max-width: 100%;
	overflow-x: hidden;

}

ul {
  list-style-type: none;
}
/*## TABLE STYLING MST ANALYSIS RESULT TABLE ##*/  
.info_mst_table {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
   /* box-shadow: 0 0 15px rgba(0,0,0,0.2);*/
    border-radius: 5px;
    display: inline-block;
    margin-bottom:1px;
}
.info_mst_table h4 {
    margin: 0 0 5px;
    color: #777;
}

.info_mst_table table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}



.info_mst_table table td, .info_mst_table table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.info_mst_table table tr:nth-child(even){background-color: #f2f2f2;}

#rz_indicator{
	border: 3px solid #bb6954;
	font-weight: bold;}



.info_mst_table table tr:hover {background-color: #ddd;}

.info_mst_table table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #34495e;
  color: white
  }

/*### TABLE STYLING ###*/

/*### COXVIEWER TABLE ###*/
.handsontable th {
  background-color: #ff8b6d;
  letter-spacing: 1px;
}
.ht_master tr:nth-of-type(even) > td {
	background-color: #f2f2f2;
}

.coxviewertable_container {
	text-align: center;
}
#coxviewertable {
	display: inline-block;
}
/*### COXVIEWER TABLE###*/
/*### COXVIEWER ###*/
.popbutton:hover {
	background-color: #ff8b6d;
}

.popbutton {
	background-color: #ffded5;
}
.legend {
    line-height: 18px;
    color: #555;
}
.legend p {
    color: #555;
    font-weight: 10px;
}
.legend > p > span {
	display: inline-block;
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
.outer_circle_big
{
  background-color: #db4453;
  border-radius:50%;
  width:80px;
  height:80px;
}
.outer_circle_medium
{
  background-color: #684d91;
  border-radius:50%;
  width:60px;
  height:60px;
}
.outer_circle_small
{
  background-color: #ffc300;
  border-radius:50%;
  width:40px;
  height:40px;
}
.inner_circle
{
  width: 60%;
  height:60%;
  border-radius: 50%;
  font-size: 20px;
  color: #34495e;
  position:absolute;
  text-align: center;
  background-color: #fff;
  margin-top:25%;
  margin-left:25%;
  border:1px solid black;
  font-weight: bold;

}
/*### COXVIEWER ###*/
/*### TABLE STYLING MLVA ANALYSIS RESULT ###*/
.blue_card{
	background-color:#15aabf;
	display: inline-block;
	margin-right: 700px;

}

#mlva_form{
	margin-bottom: 40px;
}
#empty_error_mlva{
	margin-left: 60px;
	text-align: center;
	color: #fff;
	font-weight: bold;
}
.btn-group_mlva > button{
	border-right: 2px #646464;
  	color: #334c8c; /* White text */
  	padding: 10px 24px; /* Some padding */
  	cursor: pointer; /* Pointer/hand icon */
	margin-bottom: 30px;
}
.btn-group-mlva:after {
  content: "";
  clear: both;
  display: table;
}

.white{
	background-color:#fff;
        width: 80%;
	height: 50%;
	padding: 30px;
	display: inline-block;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.card_body{
	text-align: center;
}
.info_mlva_table {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
   /* box-shadow: 0 0 15px rgba(0,0,0,0.2);*/
    border-radius: 5px;
    display: inline-block;
    margin-bottom:1px;
}
.info_mlva_table h4 {
    margin: 0 0 5px;
    color: #777;
}

.info_mlva_table table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}



.info_mlva_table table td, .info_mlva_table table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.info_mlva_table table tr:nth-child(even){background-color: #f2f2f2;}

#rz_indicator{
	border: 3px solid #bb6954;
	font-weight: bold;}


.info_mlva_table table td:first-child{
	background-color: #34495e;
  	color: white
	}

.info_mlva_table table th:first-child{background-color: #fff; border: none;}

.info_mlva_table table tr:hover {background-color: #ddd;}

.info_mlva_table table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #34495e;
  color: white
  }

/*### TABLE STYLING ###*/


/*### MLVA analysis  ###*/

.container_mlva_banner {
	margin-top: 50px;
	text-align:left;
	display:block;
  	margin-left: 200px;

}
.container_mlva_banner > h1{
	font-weight: 300px;
	font-size: 2.5rem;
	margin-bottom:30px;

}

.container_mlva_banner > form > textarea{
	max-width: 100%;
	width: 80%;
	height: auto;
}

.container_mlva_banner > form > input[type=submit]{
	margin-left: 375px;
}


/*### MLVA analysis  ###*/


/*### PRIMER PAGE ###*/
.result_control{
	display: flex;
	justify-content:center;
	margin-bottom: 20px;
}


.export_control{
	display: flex;
	justify-content:center;
}

.export_control > button {
	background-color: white;
  	color: black;
  	border: 2px solid #e7e7e7;
	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 4px 2px;
  	cursor: pointer;
}

.export_control > button:hover {
	background-color: #e7e7e7;
  	color: black;
  	border: 2px solid #fff;

}

.primer_card {
  /* Add shadows to create the "card" effect */
  margin-bottom:20px;
  margin-top:20px;
  display: block;
  padding:4em;

}

.primer_card h1 {
	margin-bottom: 30px;
	display: block;
}
.primer_card > form > input[type=submit] {
	background-color: white;
  	color: black;
  	border-radius: 2px solid #4CAF50;
	padding: 5px 15px;
	margin: 4px 2px;
	border-radius: 2px;
}
.primer_card > form > input[type=submit]:hover {
	background-color: #e7e7e7;
  	color: black;
  	border-radius: 2px solid #4CAF50;
	padding: 5px 15px;
	margin: 4px 2px;
	border-radius: 2px;
}

.container_primer {
  display: inline block;
  position: relative;
  padding-left: 50px;
  margin-bottom: 30px;
  margin-right: 30px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container_primer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
/* On mouse-over, add a grey background color */
.container_primer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container_primer input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container_primer input:checked ~ .checkmark:after {
  display: block;
}

.container_primer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*### PRIMER PAGE ###*/

/*### LANDING PAGE ###*/

.jumbotron {
    min-height: 100px;
    margin-top:40px;
}

/*### LANDING PAGE ###*/

/*### MLVA VIEW PAGE ###*/
.view_table_container {
	float:right;
	margin-right:10px;
	margin-left:20px;
	width: 25%;
 	height: 500px;
  	overflow: auto;
}

.container_well {

	width: 70%;
	margin-left: 20px;
	float:left;
}
/*### MLVA VIEW PAGE ###*/

#mapid { 
	height: 180px; }

/*### BOOTSTRAP WELL MODIFICATION AND ERROR ###*/
.blue{
	background-color:#15aabf;

}

.cream{
	background-color:#e0e0e0;
	width: 100%;
}


.fa-exclamation-triangle {
	background-color:#15aabf;
	color: #fff;
	text-align:left;
}

/*### BOOTSTRAP WELL MODIFICATION AND ERROR ###*/


/*### MODIFY INPUT TO REMOVE ARROW ###*/

input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type="number"] {
    -moz-appearance: textfield;
}

/*### MODIFY INPUT TO REMOVE ARROW ###*/

/*### MLVA AND MST QUERY TABLE ###*/
fieldset.table_opt {
	padding:1em;
}
.query_table_header {
	color:#fff;
	background:#28a745;
	text-align:center;
	width:5em;
}
.query_table {
	margin:1em auto;
	text-align:center;
	border-collapse: separate;
	border-spacing: 1px;
}
.tr_entry {
	width:5em;
}

/*### MLVA AND MST QUERY TABLE ###*/

/*### MODIFY NAVBAR ELEMENTS ###*/

.navbar_default {
  background-color: #fff !important;
  color: #000;
}

.navbar-default .navbar-nav > li > a {
  color: #000;
}

.navbar-default .navbar-nav .navbar-form > button  {
  background-color: #ffc107;
  border-color: #ffc107;
  margin-right:10px;
}

/*### MODIFY NAVBAR ELEMENTS ###*/

/*### GENOTYPE TREE ###*/

#branch_filter{
	margin-bottom:15px;

}
#genotype_info{
	margin-bottom:5px;
}

.navbar-form .form-control{
	margin-right:10px
}
/*### GENOTYPE TREE ###*/

/*### DASHBOARD ###*/
.banner {
        text-align:center;
        font-size:50px;
        margin-bottom:30px;

}

.container2{
	text-align:center;
	display:flex;
	flex-wrap: wrap;
	flex: 0 0 25em;
  	justify-content: center;
}
.container{
	text-align:center;
	display:flex;
	flex-wrap: wrap;
  	justify-content: center;
}
.row1 {
	display: inline-block;
}


/*### HORIZONTAL BUTTON FOR CHARTS ###*/

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}


ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
ul#horizontal-list li {
		display: inline;
	
}

.card_mlva {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-bottom:20px;
  display:flex;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-bottom:20px;
  display.flex;
  padding:4em;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.my_button {
  background-color: #008CBA; /* Green */
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  border-radius: 8px;
}

#map {
	margin-top: 30px;
	width: 600px;
	height: 600px;
	margin-bottom: 50px;
	text-align: center;
	float:left;
	margin-right:20px;
	clear:both;
/*	display: inline-block;*/
}

/*### DASHBOARD ###*/



/*### TABLE STYLING ###*/
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
   /* box-shadow: 0 0 15px rgba(0,0,0,0.2);*/
    border-radius: 5px;
    display: inline-block;
    margin-bottom:500px
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.info table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}



.info table td, .info table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.info table tr:nth-child(even){background-color: #f2f2f2;}

.info table tr:hover {background-color: #ddd;}

.info table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white
  }

/*### TABLE STYLING ###*/

/*### RESULT TABLE STYLING ###*/

.result_header {
	font-family: Courier;

}
.result_info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    display: inline-block;
    margin-bottom:500px
}
.result_info h4 {
    margin: 0 0 5px;
    color: #777;
}

.result_info table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.result_info table td, .result_info table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.result_info table tr:nth-child(even){background-color: #f2f2f2;}

/*.result_info table tr:hover {background-color: #ddd;}*/

.result_info table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ea6153;
  color: white
  }

/*### RESULT TABLE STYLING ###*/

#new-parent{
	float:left;
	margin-top: 30px;
	margin-bottom: 50px;
	text-align: center;
}


/*### BUTTON STYLING FOR TREE###*/

.btn-group button {
  background-color: #fff; /* Green background */
  border-radius: 0.375em;
  border: 1px solid green; /* Green border */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
box-shadow: inset 0 0 0 2px #f56a6a;
color: #3a3347 !important;
cursor: pointer;
display: inline-block;
font-size: 0.8em;
font-weight: 700;
height: 2.5em;
letter-spacing: 0.075em;
line-height: 2.5em;
padding: 0 2.25em;
text-align: center;
text-decoration: none;
text-transform: uppercase;
white-space: nowrap;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}

/*### BUTTON STYLING FOR TREE###*/


@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    /*overflow-x:auto;*/
  }

  body {
	  padding:10px;
	  
}

.navbar-default {
	padding:10px;
	border: 0;
    	-webkit-box-shadow: none;
    	box-shadow: none;
}
 

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-bottom:10px;
  display.flex;
  padding:2em;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.my_button {
  background-color: #008CBA; /* Green */
  border: none;
  color: white;
  padding: 5px 11px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 8px;
  margin: 2px 1px;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 1px solid #4CAF50;
  border-radius: 4px;
}
.row1 {
	display: inline-block;
	width:400px;
}
}

